*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 60%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}
.heading{
    text-align: right;
    font-size: 4rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, 05);
    
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: lavender;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: black;
}

header .navbar a:hover{
    color: orange;

}
header #toggler{
    display: none;

}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

.image-container {
    position: relative;
}

.card {
    position: absolute; 
    top: 50px; 
    left: 20px; 
    z-index: 1; 
    padding: 20px;
}
.card img{
    height: 400px;
    width: 300px;
}

.card-body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.add-task-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.add-task-btn:hover {
    background-color: #218838;
}

.form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel {
    background-color: #dc3545;
    color: white;
}

.cancel:hover {
    background-color: #c82333;
}

.task-list {
    margin-top: 20px;
    width: 300px;
}

.task-list h3 {
    text-align: center;
}

#tasks {
    list-style-type: none;
    padding: 0;
}

#tasks li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}